.App header {
  background-color: var(--color-primary);
  height: 8em;
  color: white;
}

.App header input{
  border-radius: 25px;
  border: none;
  height: 100%;
  margin-bottom: 0;
}

.maincont{
  background-color: var(--color-secondary);
  max-height: calc(100vh - 8em);
  height: calc(100vh - 8em);
  overflow-y: scroll;
}

.department{
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2)
}

.bi-trash{
  color: var(--color-danger);
}

.boton{
  background-color: var(--color-accent);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: var(--color-text)
}

.boton:hover{
  background-color: #db877b;
  color: var(--color-text)
}
