.App header {
  background-color: var(--color-primary);
  height: 8em;
  color: white;
}

.maincont{
  background-color: var(--color-secondary);
}

.department{
  background-color: white;
  border-radius: 25px;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2)
}

.btn-primary{
  background-color: var(--color-accent);
  border: none;
  border-radius: 25px;
  font-weight: bold;
  color: var(--color-text)
}

.btn-primary:hover{
  background-color: #db877b;
  color: var(--color-text)
}
